<div class= "container" style="text-align: center;" >

<h2 class="text-4xl font-bold"><%= @inko[:name] %></h2>
    <p class="text-xl mt-2"><%= @inko[:comment] %></p>
    <%= image_tag @inko[:image],
  style: "width: 500px; height: 500px;",
  class: "mx-auto object-cover",
  alt: @inko[:name]
  %>

    <br>

<%= link_to image_tag("mouitido.png", alt: "もう一度探索する", width: 140, class: "mx-auto rounded-xl"), inko_path %>
</div>